<!Doctype html>
<html>
    <head>
    <title></title>
        <meta charset='utf-8'>
        <title>{% block title %} {% endblock %}</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% block css %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='products/css/products_base.css')}}">
    </head>
  <body>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="{{url_for('products_edit.index')}}">
                            Start Bootstrap
                        </a>
                    </li>
                    {% for category in categories %}
                       <li>
                          <a href="{{url_for('products_edit.products_category', category = category)}}">{{category}}</a>
                      </li>
                    {% endfor %}
                </ul>
            </div>
           <div id="page-content-wrapper">
                <div class="container-fluid">
                    {% block body_nav %}
                        <div class="row">
                            <div class="col-lg-6">
                                <form action="" method="POST">
                                    <div class="input-group">
                                      <input name="search" type="text" class="form-control" placeholder="Search for...">
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Search</button>
                                      </span>
                                    </div>
                                </form>
                            </div>
                        </div>

                    {% endblock %}

                    {% block extra_info %} {% endblock %}


                    {% block product_descriptions %}
                        <div class="container">
                            <div class="row">
                                {% for product in products  %}
                                    <div class="col-md-6">
                                        <img src="{{url_for('static', filename=product['img_path'])}}">
                                        
                                        <div class="test">
                                            <p class="name" id="id_{{product['_id']}}">Name: {{product['name']}}</p>
                                            <a  id="{{product['_id']}}" class="edit_name" href="#">edit name</a>
                                        </div>  
                                        <form  style="display: none;" action="" method="POST" id="edit_name_id_{{product['_id']}}">
                                            <input type="text" name="new_name" class="name_box" id="id_{{product['_id']}}" >
                                            <input class="name_edit_button" type="submit" id="id_{{product['_id']}}">
                                        </form>

                                        <br>
                                        <div class="test">
                                            <p class="sku" id="id_{{product['_id']}}">Sku: {{product['sku']}}</p>
                                            <a id="{{product['_id']}}" class="edit_sku" href="#">edit sku</a>
                                        </div>
                                        <p>
                                        <form style="display: none;" action="" method="POST" id="edit_sku_id_{{product['_id']}}">
                                            <input type="text" name="new_sku" class="sku_box" id="id_{{product['_id']}}" >
                                            <input class="sku_edit_button" type="submit" id="id_{{product['_id']}}">
                                        </form>
                                        </p>
                                        <br>
                                        <div class="test">
                                            <p class="quantity" id="id_{{product['_id']}}">Quantity: {{product['quantity']}}</p>
                                            <a id="{{product['_id']}}" class="edit_quantity" href="#">edit quantity</a>
                                        </div>
                                        <form style="display: none;" action="" method="POST" id="edit_quantity_id_{{product['_id']}}">
                                            <input type="text" name="new_quantity" class="quantity_box" id="id_{{product['_id']}}">
                                            <input class="quantity_edit_button" type="submit" id="id_{{product['_id']}}">
                                        </form>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endblock %}
          
                </div>
            </div>
        </div>
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='admin/scripts/admin.js')}}"></script>
    

    {% endblock %}
  
  </body>
    
</html>
